

html {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4A4A4A;
}

main {
  font-family: "Open Sans", sans-serif;
  position:relative;
  top: 4rem;
}

section:nth-child(2n+1) {
  background-color: #D8D8D8;
}

section {
  width: auto 0;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding-left: 1rem;
  font-size: 1.25rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2rem 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
}

h5, footer span {
  font-size: 0.8rem;
}




header {
  background-color: white;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  color:#4d4d4d;
}

header img {
  height: 3rem;
  padding: 0 2% 0 1.5rem;
}

.Colmarlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar {
  color: #C9C9C9;
  font-weight:normal;

}

.title-bar span {
  padding: 0;
  font-weight: bold;
  color: #4d4d4d;
}



nav {
  padding-right: 3%;
  align-self: center;
  display: flex;
}

.desktop {
  display: inline-block;
}

.desktop a{
  color:#4d4d4d;
  font-size:15px;
}
.mobile {
  display: none;
}



.side-text {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
}

.landing-box img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 2.5rem 2rem 1.5rem;
  flex-shrink: 0;
}

.landing-box h3 {
    margin: 1.5rem 0;
}

.landing-box .side-text {
    width: 30%;
    box-sizing: border-box;
}

.landing-box p, .main-pic-box p {
    margin-bottom: 1.5rem;
}


.start {
  width: 75%;
  background-color: #4A4A4A;
  color: #FFFFFF;
  font-size: 1.2rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
}



.information .content-box:last-child, .thesis .content-box:first-child {
  background-color: #D8D8D8;
}



.multi-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.main-pic-box {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main-pic-box img, video {
  width: 100%;
  margin-bottom: 2rem;
}

.main-pic-box h2 {
  padding: 0 0 1.5rem 0;
}

#mobile-pic {
  display: none;
}

.stacked-content-box {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 1rem;
  width: 35%;
}

.content-box img {
  width: 35%;
  margin: 3.5%;
  vertical-align: middle;
  display: inline-block;
}

.content-box .side-text {
  width: 56%;
}

.content-box a {
  color: #303BC9;
  padding: 0;
  Margin:0;
}

.thesis .main-pic-box {
  padding: 1rem 1rem 1.5rem 1.5rem;
}



.courses {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.course-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.course-box {
  width: 30%;
  height: auto;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #FFFfff;
}

.courses h2, .thesis h2 {
  text-align: center;
}

.course-box img {
  width:100%;
}

.course-text {
  padding: 1rem 0 0 1rem;
  margin: 1.5rem auto;
}


footer {
  background-color: white;
  border-top: 1px solid #4A4A4A;
  display: flex;
  justify-content: space-between;
  position:relative;
  top: 4rem;
  width: 100%
}

footer h5 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

footer nav {
  align-self: auto;
  padding-top: 1rem;
}

footer span {
  padding-left: 1rem;
}



@media only screen and (max-width:825px) {

  .landing-box img, .main-pic-box {
    width: 40%;
  }
  .landing-box .side-text, .stacked-content-box {
    width: 45%;
  }
  .course-box {
    width: 45%;
  }

}


@media only screen and (max-width:470px) {

footer nav, .desktop, .Colmarlogo, .information .main-pic-box,
.thesis .stacked-content-box, .thesis p, .thesis h3, .course-box img,
.course-box p, #pc-pic {
  display: none;
}



.mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.mobile img {
  width: auto;
  height: 90%;
}


.start {
  width: 100%;
  align-self: center;
}

.landing-box img {
  width: 90%;
  padding: 2rem 1rem;
  margin: auto;
}

.landing-box .side-text {
  width: 100%;

  margin: auto;
}



.stacked-content-box, .content-box .side-text{
  width: 100%;
  background-color: white;
}

.content-box {
  display: flex;
  flex-flow: column;
}

#mobile-pic {
  display: block;
  box-sizing: border-box;
  padding: 1rem 1rem 1.5rem 1rem;
}

.content-box img {
  width: 100%;
  margin: auto;
  background-color: white;
}

.content-box .side-text {
  box-sizing: border-box;

}

.content-box a {
  font-size: 1rem;
  padding:0;
  line-height: 1em;
}



.courses {
  border-top: 1px solid #8A97A8;
  border-bottom: 1px solid #8A97A8;
}

.course-container {
  flex-flow: column;
}

.course-box {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 0 0.5rem 0;
}

.course-text {
  padding: 1rem;
}



.thesis .main-pic-box {
  width: 100%;
  padding: 0 0 2rem 0;
}

video {
  margin:auto;
}


h5 {
  margin: 1.5rem 0 0 0;
}

}
